<div class="list-view">
  <psa-datatable-header
                [total]="total"
                [shown]="shown"
                [availableColumns]="availableColumns"
                [showAddButton]="true"
                [showOptions]="false"
                [showTitle]="false"
                [showActions]="false"
                (onAddItem)="addDeliveryItem(content)">
  </psa-datatable-header>
  <ngx-datatable #datatable
                 class="material"
                 [rows]="serviceItemRows"
                 [headerHeight]="40"
                 [rowHeight]="40"
                 [columnMode]="'force'"
                 [rowClass]="getRowClass"
                 (activate)="activateRow($event)">

    <ngx-datatable-column name="name" [width]="450">
      <ng-template let-column="column" ngx-datatable-header-template>
        Наименование
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span [title]="value">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="cost" [width]="100">
      <ng-template let-column="column" ngx-datatable-header-template>
        Стоимость
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
       <span [title]="value">{{ value | psaCurrency }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="notes" [width]="330">
      <ng-template let-column="column" ngx-datatable-header-template>
        Примичания
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
       <span [title]="value">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]="40" [cellClass]="btn-remove">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        <button class="btn btn-light btn-block btn-xs" (click)="deleteItem(rowIndex)">Удалить</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
  
<ng-template #content>
  <psa-delivery-service-modal
              [isSaving]="isModalLoading"
              (onSave)="saveServiceItem($event)"
              (onClose)="closeModal()">
  </psa-delivery-service-modal>
</ng-template>

<ng-template #removeConfirmation let-c="close">
  <psa-confirmation
    (onClose)="c()"
    (onConfirm)="confirmDelete(); c();"
    [confirmButtonText]="'Удалить'"
    [text]="'Вы уверены, что хотите удалить выбранный сервис?'">
  </psa-confirmation>
</ng-template>
