<div class="list-view">
  <psa-datatable-header
                [total]="total"
                [shown]="shown"
                [availableColumns]="availableColumns"
                [showAddButton]="true"
                [showOptions]="false"
                [showTitle]="false"
                [showActions]="false"
                (onAddItem)="addDeliveryItem(content)">
  </psa-datatable-header>
  <ngx-datatable #datatable
                 class="material"
                 [scrollbarV]="true"
                 [scrollbarH]="true"
                 [rows]="serviceItemRows"
                 [headerHeight]="40"
                 [rowHeight]="40"
                 [columnMode]="'force'"
                 [rowClass]="getRowClass"
                 (activate)="activateRow($event)">

    <ngx-datatable-column name="name" [width]="240">
      <ng-template let-column="column" ngx-datatable-header-template>
        Наименование
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span [title]="value">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="cost" [width]="80">
      <ng-template let-column="column" ngx-datatable-header-template>
        Стоимость
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
       <span [title]="value">{{ value | psaCurrency }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="notes" [width]="150">
      <ng-template let-column="column" ngx-datatable-header-template>
        Примичания
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
       <span [title]="value">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<!-- <div class="appmain">
  <div class="appbar">
    <psa-datatable-header
                [total]="total"
                [shown]="shown"
                [availableColumns]="availableColumns"
                [showAddButton]="true"
                [showOptions]="false"
                [showTitle]="false"
                (onAddItem)="addDeliveryItem(content)"
                (onFilter)="datatable.onFilter($event)"
                (onFilterReset)="datatable.resetFilter()">
    </psa-datatable-header>
  </div>
  <div class="appcontent">
    <psa-delivery-table
                #datatable
                [rows]="serviceItemRows"
                [cols]="availableColumns"
                (onRowsUpdated)="onRowsUpdated($event)">
    </psa-delivery-table>
  </div>
</div> -->
  
<ng-template #content>
  <psa-delivery-service-modal
              [isSaving]="isModalLoading"
              (onSave)="saveServiceItem($event)"
              (onClose)="closeModal()">
  </psa-delivery-service-modal>
</ng-template>