@import "../../../../variables";

.workgroup-label {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  padding: .2rem .4rem;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  //color: $white;
  color: #fff;
  border-radius: $border-radius-base;
  margin: 0 .3rem .5rem 0;
  :host-context(.data-table) & {
    margin-bottom: 0;
  }
  &-assigned {
    background-color: $workgroup-assigned-color;
  }
  &-sms-engagement {
    background-color: $workgroup-sms-engagement-color;
  }
  &-unassigned {
    background-color: $workgroup-unassigned-color;
  }

  .close {
    font-size: 1.8rem;
    line-height: 1.4rem;
    opacity: 1;
    color: $white;
    text-shadow: none;
    font-weight: normal;
    margin-left: 1rem;
    cursor: pointer;
    &:focus,
    &:focus:active {
      outline: none;
    }
  }
}
