<div class="list-view">
  <psa-datatable-header
                [total]="total"
                [shown]="shown"
                [availableColumns]="availableColumns"
                [showAddButton]="!isReadOnly"
                [showOptions]="false"
                [showTitle]="false"
                [showActions]="false"
                (onAddItem)="addDeliveryItem(content)">
  </psa-datatable-header>
  <ngx-datatable #datatable
                 class="material grid"
                 [rows]="deliveryItemRows"
                 [headerHeight]="40"
                 [rowHeight]="40"
                 [columnMode]="'force'"
                 [rowClass]="getRowClass"
                 [scrollbarV]="true"
                 (activate)="activateRow($event)">

    <ngx-datatable-column [width]="28" [canAutoResize]="false" [resizeable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        <span>{{ rowIndex + 1 }}.</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="name" [width]="150">
      <ng-template ngx-datatable-header-template let-column="column">
        Наименование
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span [title]="value">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="amount" [width]="100">
      <ng-template ngx-datatable-header-template let-column="column">
        Количество
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span [title]="value"
              *ngIf="!editing[rowIndex + '-amount']"
              (dblclick)="startEditing(rowIndex + '-amount')">
          {{ value }}
        </span>
        <input #amountInputBox
                psaNumberField
                autofocus
                type="number"
                class="form-control amount"
                *ngIf="editing[rowIndex + '-amount']"
                [value]="value"
                (clickOutside)="updateValue(amountInputBox.value, 'amount', rowIndex)"
                (blur)="updateValue(amountInputBox.value, 'amount', rowIndex)">
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="costPerItem" [width]="100">
      <ng-template ngx-datatable-header-template let-column="column">
        Стоимость за единицу
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span [title]="value"
              *ngIf="!editing[rowIndex + '-costPerItem']"
              (dblclick)="startEditing(rowIndex + '-costPerItem')">
          {{ value | psaCurrency }}
        </span>
        <psa-currency-input *ngIf="editing[rowIndex + '-costPerItem']"
                            [placeholder]="''"
                            [value]="value"
                            (onBlur)="updateValue($event, 'costPerItem', rowIndex)"
                            (onClickOutside)="updateValue($event, 'costPerItem', rowIndex)">
        </psa-currency-input>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="totalCost" [width]="100">
      <ng-template ngx-datatable-header-template let-column="column">
        Общая стоимость
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span [title]="value" 
              *ngIf="!editing[rowIndex + '-totalCost']"
              (dblclick)="startEditing(rowIndex + '-totalCost')">
          {{ value | psaCurrency }}
        </span>
        <psa-currency-input *ngIf="editing[rowIndex + '-totalCost']"
                            [placeholder]="''"
                            [value]="value"
                            (onBlur)="updateValue($event, 'totalCost', rowIndex)"
                            (onClickOutside)="updateValue($event, 'totalCost', rowIndex)">
        </psa-currency-input>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="notes" [width]="300">
      <ng-template ngx-datatable-header-template let-column="column">
        Примечание
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span [title]="value"
              *ngIf="!editing[rowIndex + '-notes']"
              (dblclick)="startEditing(rowIndex + '-notes')">
          {{ value }}
        </span>
        <input #notesInputBox
                autofocus
                type="text"
                class="form-control"
                *ngIf="editing[rowIndex + '-notes']"
                [value]="value"
                (clickOutside)="updateValue(notesInputBox.value, 'notes', rowIndex)"
                (blur)="updateValue(notesInputBox.value, 'notes', rowIndex)">
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="!isReadOnly"
                          [width]="50"
                          [canAutoResize]="false"
                          [resizeable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        <button class="btn btn-xs btn-del" (click)="deleteItem(rowIndex)">
          <i class="fa fa-trash"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>

<ng-template #content>
  <psa-delivery-product-modal
              [isSaving]="isModalLoading"
              (onSave)="saveDeliveryItem($event)"
              (onClose)="closeModal()">
  </psa-delivery-product-modal>
</ng-template>

<ng-template #removeConfirmation let-c="close">
  <psa-confirmation
    (onClose)="c()"
    (onConfirm)="confirmDelete(); c();"
    [confirmButtonText]="'Удалить'"
    [text]="'Вы уверены, что хотите удалить выбранный товар?'">
  </psa-confirmation>
</ng-template>