<div class="list-view">
  <psa-datatable-header
                [total]="total"
                [shown]="shown"
                [availableColumns]="availableColumns"
                [showAddButton]="true"
                [showOptions]="false"
                [showTitle]="false"
                [showActions]="false"
                (onAddItem)="addDeliveryItem(content)">
  </psa-datatable-header>
  <ngx-datatable #datatable
                 class="material"
                 [rows]="deliveryItemRows"
                 [headerHeight]="40"
                 [rowHeight]="40"
                 [columnMode]="'force'"
                 [rowClass]="getRowClass"
                 (activate)="activateRow($event)">

    <ngx-datatable-column name="name" [width]="150">
      <ng-template let-column="column" ngx-datatable-header-template>
        Наименование
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span [title]="value" *ngIf="!editing[rowIndex + '-name']" (dblclick)="startEditing(rowIndex + '-name')">{{ value }}</span>
        <input 
              autofocus
              type="text"
              (blur)="updateValue($event.target.value, 'name', rowIndex)"
              *ngIf="editing[rowIndex + '-name']"
              [value]="value" />
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="amount" [width]="100">
      <ng-template let-column="column" ngx-datatable-header-template>
        Количество
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span [title]="value" *ngIf="!editing[rowIndex + '-amount']" (dblclick)="startEditing(rowIndex + '-amount')">{{ value }}</span>
        <input psaNumberField
                  autofocus
                  type="number"
                  class="form-control amount"
                  *ngIf="editing[rowIndex + '-amount']"
                  [value]="value"
                  (blur)="updateValue($event.target.value, 'amount', rowIndex)">
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="costPerItem" [width]="100">
      <ng-template let-column="column" ngx-datatable-header-template>
        Стоимость за единицу
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex">
        <span [title]="value" [hidden]="editing[rowIndex + '-costPerItem']" (dblclick)="startEditing(rowIndex + '-costPerItem')">{{ value | psaCurrency }}</span>
        <psa-currency-input *ngIf="editing[rowIndex + '-costPerItem']"
                            [placeholder]="''"
                            [value]="value"
                            (onBlur)="updateValue($event, 'costPerItem', rowIndex)">
        </psa-currency-input>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="totalCost" [width]="100">
      <ng-template let-column="column" ngx-datatable-header-template>
        Общая стоимость
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span [title]="value">{{ value | psaCurrency }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="notes" [width]="300">
      <ng-template let-column="column" ngx-datatable-header-template>
        Примечание
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <span [title]="value">{{ value }}</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]="50"
                          [canAutoResize]="false"
                          [resizeable]="false">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
        <button class="btn btn-xs btn-del" (click)="deleteItem(rowIndex)">
          <i class="fa fa-trash"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>

<ng-template #content>
  <psa-delivery-product-modal
              [isSaving]="isModalLoading"
              (onSave)="saveDeliveryItem($event)"
              (onClose)="closeModal()">
  </psa-delivery-product-modal>
</ng-template>

<ng-template #removeConfirmation let-c="close">
  <psa-confirmation
    (onClose)="c()"
    (onConfirm)="confirmDelete(); c();"
    [confirmButtonText]="'Удалить'"
    [text]="'Вы уверены, что хотите удалить выбранный товар?'">
  </psa-confirmation>
</ng-template>