<header id="header">
  <div class="actions-left">
      <div class="logo" routerlink="/" title="MUSHKA Accounting" tabindex="0">
        <img alt="Ericsson" class="logo-ericsson" height="30" src="./assets/images/mushka-logo.svg" width="35">
        <span class="accounting">ACCOUNTING</span>
    </div>
    <mhk-global-search #search (onSearch)="jumpToCsr($event)" [isLoading]="isLoadingInProgress"></mhk-global-search>
  </div>
  <div class="actions-right">
    <a class="btn btn-outline-light" aria-label="addNew" [routerLink]="'/create-csr'">Create CSR</a>
    <mhk-user-notification></mhk-user-notification>
    <div class="badge-group">
      <mhk-header-badge (click)="openModal(csrRate)" [title]="'Unrated'" [icon]="'ico-favorites'" [value]="totalUnrated"></mhk-header-badge>
      <mhk-header-badge [title]="'Unassigned'" [icon]="'ico-eye'" [value]="totalUnassigned"></mhk-header-badge>
      <mhk-header-badge [title]="'Unread'" [icon]="'ico-csr-new'" [value]="totalUnseen"></mhk-header-badge>
    </div>
    <mhk-user></mhk-user>
  </div>
</header>
