<form [formGroup]="serviceItemForm" class="delivery-item-form">
  <div class="modal-header">
    <h4 class="modal-title">Добаление товара</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <i class="ico ico-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name" class="text-muted">Наименование:</label>
      <input type="text" class="form-control name" id="name" formControlName="name">
    </div>
    <div class="form-group w-50">
      <label for="cost" class="text-muted">Стоимость:</label>
      <psa-currency-input id="cost" [placeholder]="''" formControlName="cost"></psa-currency-input>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-light btn-cancel" type="button" (click)="close()">Отмена</button>
    <button class="btn btn-primary" type="button" (click)="save()" [disabled]="serviceItemForm.invalid">
      <psa-spinner [isLoading]="isSaving"></psa-spinner>
      Добавить</button>
  </div>
</form>
