<div class="appmain">
  <div class="appbar">
    <psa-datatable-header
                    [title]="'Товары'"
                    [total]="total"
                    [shown]="shown"
                    [availableColumns]="availableCols"
                    (onAddItem)="addProduct(content)"
                    (onFilter)="datatable.onFilter($event)"
                    (onFilterReset)="datatable.resetFilter()"
                    (onExportAllToCSV)="datatable.onExportAllToCSV($event)"
                    (onExportFilteredToCSV)="datatable.onExportFilteredToCSV($event)">
    </psa-datatable-header>
  </div>
  <div class="appbody">
    <psa-categories-nav
      [categories]="categories"
      [parentRoute]="'/products'">
    </psa-categories-nav>
    <div class="appcontent">
    <psa-products-table #datatable
                    [rows]="rows"
                    [loadingIndicator]="loadingIndicator"
                    [cols]="availableCols"
                    (onRowsUpdated)="onRowsUpdated($event)">
    </psa-products-table>
    </div>
  </div>
</div>

<ng-template #content>
  <psa-product [product]="selectedProduct"
               [isSaving]="isModalLoading"
               (onSave)="saveProduct($event)"
               (onClose)="closeModal()">
  </psa-product>
</ng-template>
