@import '../../../variables';

.appmain {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 0;
}

.appbar {
  background-color: $layer1;
  flex: none;
}

.appbody {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  overflow: hidden;
  position: relative;
}

.appcontent {
  flex: auto;
  position: relative;
  margin: 16px 16px 0;
}

.user-list {
  &:nth-child(n + 2) {
    margin-left: 1px;
  }
}
