<div class="appmain">
  <div class="appbar">
    <psa-datatable-header
                    [title]="'Поставщики'"
                    [total]="total"
                    [shown]="shown"
                    [availableColumns]="availableCols"
                    (onFilter)="datatable.onFilter($event)"
                    (onFilterReset)="datatable.resetFilter()"
                    (onExportAllToCSV)="datatable.onExportAllToCSV($event)"
                    (onExportFilteredToCSV)="datatable.onExportFilteredToCSV($event)">
    </psa-datatable-header>
  </div>
  <div class="appbody">
    <psa-suppliers-table #datatable
                    [rows]="rows"
                    [loadingIndicator]="loadingIndicator"
                    [cols]="availableCols"
                    (onRowsUpdated)="onRowsUpdated($event)">
    </psa-suppliers-table>
  </div>
</div>
