<nav class="menu">
  <span *ngFor="let item of menuItems">

    <a *ngIf="item.isExternal; else internal"
       [href]="oldCsrhUrl + item.link"
       (click)="onMenuItemSelected(item.title)"
       [title]="item.title"
       class="menu-item"
       target="_blank"
       [ngClass]="{'csr-disabled-control': !item.isEnabled}">
    <i class="ico" [ngClass]="item.icon"></i>
    {{ item.title }}
    </a>

    <ng-template #internal>
    <a [routerLink]="item.routePath"
       (click)="onMenuItemSelected(item.title)"
       [queryParams]="item.queryParams"
       [title]="item.title"
       routerLinkActive="active"
       class="menu-item"
       [ngClass]="{'csr-disabled-control': !item.isEnabled}">
      <i class="ico" [ngClass]="item.icon"></i>
      {{ item.title }}
      <span *ngIf="item.badges > 0" class="badge">{{ item.badges }}</span>
    </a>
    </ng-template>

  </span>
</nav>
