<div class="table-options">
  <div class="table-options-header">
    <psa-search-form [placeholder]="'Filter by keyword'" (onSearch)="onSearch($event)"></psa-search-form>
  </div>

  <div class="table-options-body">
    <div class="custom-controls-stacked">
      <div class="custom-control custom-checkbox" *ngIf="showSelectAll && filteredOptions.length > 0">
        <input type="checkbox" class="custom-control-input" id="select-all"
          [checked]="isAllSelected"
          (change)="selectAllChanged($event.target.checked)">
        <label class="custom-control-label" for="select-all">All</label>
      </div>
      <div class="custom-control custom-checkbox" *ngFor="let val of filteredOptions">
        <input type="checkbox" class="custom-control-input" [id]="val"
               [value]="val"
               [disabled]="isOptionsDisabled(val)"
               [checked]="isOptionsSelected(val)"
               (change)="optionChanged($event)">
        <label class="custom-control-label" [for]="val">{{ val }}</label>
      </div>
    </div>
  </div>
  <div *ngIf="isFiltered || isLoadMoreAllowed" class="table-options-footer">
    <a href="javascript:void(0);" *ngIf="isFiltered" class="view-all" (click)="searchFormComponent.reset()">{{ isLoadMoreAllowed ? 'Clear filter' : 'Show all values' }}</a>
    <span *ngIf="isFiltered && isLoadMoreAllowed" class="buttons-delimiter"> | </span>
    <a href="javascript:void(0);" *ngIf="isLoadMoreAllowed" class="view-all" (click)="loadMore()">Load more</a>
  </div>
</div>
