<nav class="categories-nav">
  <div class="categories-nav-search">
    <psa-search-form [placeholder]="'Фильтр...'" (onSearch)="onSearch($event)"></psa-search-form>
  </div>
  <div class="categories-nav-header">
    <button class="btn btn-light btn-block" (click)="create(content)">Добавить категорию</button>
  </div>
  <div class="categories-nav-body">
    <ul class="categories-list">
      <li *ngFor="let category of filteredCategories" [ngClass]="{'active': selectedCategory && selectedCategory.id === category.id}">
        <a href="javascript:void(0);" (click)="selectCategory(category)" [title]="category.name">{{ category.name }}</a>
        <button type="button" class="btn btn-delete pull-right" (click)="delete(category)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-edit pull-right" (click)="edit(category, content)">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>

<ng-template #confirmDeleteModalCategory let-c="close">
  <psa-confirmation (onClose)="c()"
                    (onConfirm)="confirmDelete()"
                    [isSaving]="isSaving"
                    [confirmButtonText]="'Удалить'"
                    [text]="'Выбранныя категория \'\'' + categoryToDelete.name + '\'\' будет удалена. Вы уверены, что хотите продолжить?'">
  </psa-confirmation>
</ng-template>

<ng-template #content>
  <psa-category-modal
              [category]="selectedCategory"
              [isSaving]="isSaving"
              (onSave)="saveCategory($event)"
              (onClose)="closeModal()">
  </psa-category-modal>
</ng-template>
  