<aside id="sidebar" #sidebar>
  <span class="btn-hamburger" (click)="toggleCollapseMode()">
    <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </span>
  <div class="sidebar-body">
    <div class="scrollable-area">
      <psa-menu></psa-menu>
    </div>
  </div>
  <div class="sidebar-footer" (click)="toggleCollapseMode()">
    <span class="sidebar-toggle">
      <i class="fa fa-angle-double-left"></i>
    </span>
  </div>
</aside>
