// Dropdown menus
.dropdown-menu {

  &:empty {
    border: 0;
  }
  .dropdown-sm & {
    min-width: 106px;
  }

  [open="true"] & {
    display: block;
  }

  &.dropdown-max-height {
    max-height: $dropdown-max-height;
    overflow: auto;
    width: 100%;
  }

  // Dividers (basically an hr) within the dropdown
  .dropdown-divider {
    margin: 0;
    background-color: $dropdown-divider-color;
  }

  // Links within the dropdown menu
  .dropdown-item {
    line-height: $dropdown-line-height;

    // Hover/Focus state
    &:hover,
    &:focus {
      cursor: pointer;
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
    }

    &[disabled],
    &[disabled]:hover {
      cursor: default;
    }
  }
}

// Dropdown section headers
.dropdown-header {
  font-size: $dropdown-font-size-small;
  line-height: $dropdown-line-height-small;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  background-color: $layer2;
}

.dropdown-toggle {
  &:after {
    display: none;
  }
}

ngb-typeahead-window.dropdown-menu,
typeahead-container.dropdown-menu {
  width: 100%;
  margin-bottom: 1rem;
  .dropdown-item {
    white-space: normal;
  }
}
