<div class="delivery-item-wrapper" [ngClass]="{'collapsed': !isExpanded}">
  <div class="delivery-item">
    <div class="delivery-item-header">
      <div class="title" *ngIf="delivery.supplier"> {{ delivery.supplier.name }} </div>
      <div class="delivery-supplier-row">
        <span class="delivery-supplier text-muted" *ngIf="delivery.supplier">{{ delivery.supplier.address }}</span>
        <time class="timestamp"> {{ delivery.deliveryDate | formatDate }} </time>
      </div>
    </div>
    <div class="delivery-item-body" [ngbCollapse]="!isExpanded">
      <div class="delivery-item-row" *ngIf="delivery.paymentMethod">
        <div class="delivery-item-label">Способ оплаты:</div>
        <div> {{ delivery.paymentMethod }} </div>
      </div>  
      <div class="delivery-item-row">
        <div class="delivery-item-label">Общая стоимость:</div>
        <div> {{ delivery.totalCost | psaCurrency}} </div>
      </div>
    </div>
  </div>
  <button class="btn btn-xs btn-toggle-editor" *ngIf="canEdit" (click)="edit()">
    <i class="fa fa-pencil fa-border"></i>
  </button>
  <button class="btn btn-xs btn-toggle-editor btn-delete" *ngIf="canDelete" (click)="delete()">
    <i class="fa fa-times fa-border"></i>
  </button>
  <button class="btn btn-toggle" (click)="toggleCollapseItemMode()"><i class="ico ico-chevron-down"></i></button>
</div>