<div ngbDropdown class="dropdown">
  <button type="button" class="btn form-control" [ngClass]="(!value && required) ? 'required-dropdown' : ''" ngbDropdownToggle id="dropdown">
    <span [ngClass]="{'placeholder': !value}">{{ value ? value : 'Выберите значение' }}</span>
    <i class="ico-chevron-down"></i>
  </button>
  <div ngbDropdownMenu aria-labelledby="dropdown" class="dropdown-max-height">
    <button class="dropdown-item" *ngFor="let option of options" (click)="onOptionSelect(option)">
      {{ option }}
    </button>
  </div>
</div>